<!DOCTYPE html>
<html>
<title>Tournaments.Tech™</title>
<link rel="shortcut icon" type="image/jpg" href="https://static.wixstatic.com/media/bb0ec7_a28585bcf99f425ebff094ddd3d35561%7Emv2.png/v1/fill/w_32%2Ch_32%2Clg_1%2Cusm_0.66_1.00_0.01/bb0ec7_a28585bcf99f425ebff094ddd3d35561%7Emv2.png" />

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/signup.css') }}">

</head>

<body>
    <!--Tournaments.Tech was developed by Samarth Chitgopekar (CTO) for Offtime Roadmap. The template for this website is from W3Docs-->
    <form action="http://127.0.0.1:5000/signup" method="POST">
        <h1>Get Tournaments.Tech™</h1>
        <div class="icon">
            <img src="https://static.wixstatic.com/media/bb0ec7_87ddf3b237dd4d359c8e1ade122d60df~mv2.jpg/v1/crop/x_2,y_0,w_580,h_839/fill/w_333,h_482,al_c,q_80,usm_0.66_1.00_0.01/harvard_JPG.webp">
        </div>
        <div class="formcontainer">
            <div class="container">
                <label for="email"><strong>Email</strong></label>
                <input type="text" placeholder="Enter a valid email" name="email" required>
            </div>
            <button type="submit" onclick="myFunction()"><strong>SIGN UP</strong></button>
            <script>
                function myFunction() {
                    var noti = `
By pressing OK, you are signing up to be on the Tournaments.Tech™  
mailing list. This is where you will recieve your free Competitor
Report PDF's for all bidding tournaments on the National Circuit
and more.`;
                    alert(noti);
                }
            </script>
    </form>
</body>

</html>