html,
body {
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    margin-top: 2.5%;
    background-color: #130e2c;
}

form {
    border: 5px solid#130e2c;
    margin: 10px;
    border-radius: 15px;
    background-color: rgb(140, 84, 255);
    vertical-align: center;
}

::placeholder {
    color: #130e2c;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 16px 8px;
    margin: 8px 0;
    display: inline-block;
    color: #130e2c;
    background-color: rgb(140, 84, 255);
    border-radius: 10px;
    border-color: #130e2c;
    box-sizing: border-box;
}

.icon {
    font-size: 110px;
    display: flex;
    justify-content: center;
    color: #130e2c;
}

button {
    background-color: #130e2c;
    border-radius: 10px;
    color: rgb(140, 84, 255);
    padding: 14px 0;
    margin: 10px 0;
    border: none;
    cursor: grab;
    width: 48%;
}

h1 {
    text-align: center;
    font-size: 12;
    color: #130e2c;
    margin-left: 50x;
    margin-right: 50x;
}

button:hover {
    opacity: 0.8;
}

.formcontainer {
    text-align: center;
    margin: 24px 50px 12px;
}

.container {
    padding: 16px 0;
    text-align: left;
}

img {
    max-width: 50%;
    height: auto;
}

span.psw {
    float: right;
    padding-top: 0;
    padding-right: 15px;
}

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
}